body {
  font-family: 'Barlow Condensed', sans-serif;
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  justify-content: center;
  background-color: #6600cf;
}
main {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  line-height: 3.5rem;
  font-weight: 600;
  color: #fff;
}
h2 {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  font-weight: 600;
  color: #6600cf;
  font-size: 1.5rem;
  text-align: center;
  max-width: 85%;
  padding-top: 3rem;
  justify-content: center;
}
section {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.box {
  display: flex;
  flex: 1;
  flex-basis: 100%;
  justify-content: center;
  padding: 1rem;
  border: 10px solid #6600cf;
  margin: 1rem 0;
  border-radius: 10px;
  cursor: pointer;
  color: #6600cf;
  font-size: 10rem;
  box-shadow: 10px 10px 16px rgba(0,0,0,0.4);
}
#box-1 {
  background-color: #ffff33;
}
#box-2 {
  background-color: #1FFFBF;
}
#box-3 {
  background-color: #7FFF30;
}

/* Tablet and Desktop view */
@media screen and (min-width: 720px) {
  section {
    flex-wrap: nowrap;
  }
  h1 {
    font-size: 4rem;
    max-width: 20%;
  }
  h2 {
    font-size: 1.8rem;
    padding-top: 0;
  }
  .box {
    flex: .33;
    flex-basis: 33%;
    max-width: 33%;
    margin: 1rem 2rem;
    padding: 1rem;
  }
}

/* Small Desktop view */
@media screen and (min-width: 1080px) {
  section {
    max-width: 85%;
  }
  .box {
    padding: 2rem;
  }
}

/* Large Desktop view */
@media screen and (min-width: 1220px) {
  section {
    max-width: 75%;
  }
  .box {
    padding: 2.85rem;
  }
}
